.pagination {
	display: flex;
	justify-content: center;

	& > * {
		margin: 0 1rem;
	}

	& :first-child,
	& :last-child {
		margin: 0;
	}
	@include from(s) {
		gap: 1rem;
		& > * {
			margin: 0;
		}
	}
}
