.header {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    height: var(--header-height);
    align-items: center;
    z-index: var(--z-front);
    background-color: none;
    transition: background-color 0.2s;

    @include from(s) {
        justify-content: flex-end;
    }
}

.header--scroll {
    background-color: var(--primary-color);
    box-shadow: var(--shadow);
    transition: all 0.2s;
}

.header__item {
    list-style: none;
    font-size: 1.2rem;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 0;
    margin: 0;
    gap: 2rem;

    @include from(s) {
        padding: 0 4rem 0 0;
    }
}

.header__text {
    color: white;
    transition: color, opacity 0.2s;
    cursor: pointer;
    opacity: 0.8;
}

.header__text--scroll {
    color: black;
    transition: opacity, color 0.2s;
    opacity: 0.7;
}

.header__text:hover {
    color: var(--primary-color);
    opacity: 1;
}

.header__text--scroll:hover {
    opacity: 1;
    color: var(--primary-color-alt);
}

.header--scroll--active {
    @extend .header--scroll;
}

.header__text--active {
    @extend .header__text--scroll;
}

.header-search--icon {
    width: 20px;
}
